################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoBanco/FileContentIndex/d7884307-1ba3-4af3-b3c8-9c11e62281c5.vsidx
/.vs/ProjetoBanco/FileContentIndex/b1d5a223-1e1f-4d67-a028-d7682a7b1c26.vsidx
/.vs/ProjetoBanco/FileContentIndex/7becc8f1-e400-44cf-ac61-8d54b7a4ccc9.vsidx
/.vs/ProjetoBanco/FileContentIndex/539465b8-1130-42bb-95fb-722cd7f4876b.vsidx
/.vs/ProjetoBanco/FileContentIndex/7801ec33-68df-48c3-be85-0b390a4013be.vsidx
